menu {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-between;
  font-size: 10px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-right: 1em;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-right: 1em;
  align-items: end;
}

.nav ul li {
  list-style: none;
  display: flex;
  align-items: end;
}

.nav-header {
  color: black;
  font-weight: 700;
  font-size: 1em;
  line-height: 0;
  padding: 1em;
}

.nav-item-c {
  color: black;
  font-weight: 700;
  font-size: 1.8em;
  background: #fff;
  padding: 2em;
  line-height: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

.nav-item {
  color: #555;
  font-weight: 600;
  font-size: 1.8em;

  color: black;
  font-weight: 700;
  font-size: 1.8em;
  padding: 2em;
  line-height: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-item-c:hover,
.nav-item:hover {
  cursor: pointer;
  color: #066f61;
}

.nav-wrap {
  background-color: #ddd;
  width: 100%;
  height: auto;
}
/*
.nav-wrap ul {
  overflow: hidden;
  list-style-type: none;
  padding-top: 50%;
  margin: 0;
}

.nav-wrap li {
  display: block;
  margin: 0;
  padding: 5% 50px;
  width: 100%;
} 
*/
.nav-wrap li:hover {
  cursor: pointer;
}

.nav-wrap li a {
  color: #d3e3e3;
  text-decoration: none;
  font-size: 1.6em;
  transition: all 0.5s;
}

.nav-wrap li:hover {
  cursor: pointer;
}

.hamburger {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  transition: opacity 0.3s;
  z-index: 999;
  position: absolute;
  right: 2em;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
  opacity: 0.5;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background: rgb(236, 66, 66);
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.hamburger .line:nth-child(1) {
  background-color: #a77a33;
}

.hamburger .line:nth-child(2) {
  background-color: #633200;
}

.hamburger .line:nth-child(3) {
  background-color: #a77a33;
}

.hamburger.isactive .line:nth-child(2) {
  opacity: 0;
}

.hamburger.isactive .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.isactive .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.nav-wrap {
  transition: all 2s ease-in-out;
}

.nav-wrap.active {
  display: block;
  animation: fade 0.5s;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.tb-multiple-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tb-multiple-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mat-checkbox-layout {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.mat-checkbox-inner-container {
  width: 25px;
  height: 25px;
}

.mat-mdc-checkbox .mdc-checkbox {
  border: 2px solid;
}

@media all and (max-width: 768px) {
  .box {
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-wrap {
    display: none;
    width: 100%;
    height: 100vh;
  }
}

/*

.box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
}

.nav {
   width: 65%;
   display: flex; 
  justify-content: space-between;
}
.nav-header {
    color: black;
    font-weight: 700;
    font-size: 25px;
}

.nav-item-c {
    color: black;
    font-weight: 700;
    font-size: 18px;
}
.nav-item {
    color: #9A9A9A;
    font-weight: 700;
    font-size: 18px;
}

.nav-item-c:hover , .nav-item:hover {
    cursor: pointer;
    color: #066F61;
     font-size: 18px;
}

*/
